@import url('https://cdn.jsdelivr.net/npm/water.css@2/out/light.css');

textarea
{
  width:100%;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  font-size: 12px;
}

pre
{
  margin-left: 20px;
}
